<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Template</title>
  </head>
  <body>
    <div>
      <h1><%=name%></h1>
      <p style="background: red; color: white">this is just random text</p>
      <p style="background: rgb(221, 247, 247); color: blue">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
        doloremque similique animi nihil voluptatem minima tenetur reiciendis in
        repudiandae asperiores!
      </p>
    </div>
  </body>
</html>
